.mainWrapper {
  background-image: url("Images/MainWrapper.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 40px 100px 0 100px;
  overflow: hidden;
}

.picturesWrapper{
  margin: 40px 40px 0;
  position: relative;

  & .dogPicture {
    position: absolute;
    top: 10px;
    left: 45px;

    & img {
      width: 100%;
    }
  }

  & .batPricture {
    position: absolute;
    top: 10px;
    right: 50px;

    & img {
      width: 100%;
    }
  }
  & .picturesTitle {
    position: absolute;
    top: 37vh;
    left: 50%;
    transform:translate(-50%, -50%);   
    color: #FFF;
    text-shadow: 0px 0px 129.528px #419BC8, 0px 0px 259.056px #419BC8, 0px 0px 906.696px #419BC8, 0px 0px 1813.392px #419BC8, 0px 0px 3108.672px #419BC8, 0px 0px 5440.176px #419BC8;
    font-size: 400px;
    font-weight: 500;
  }

  & .gunPicture {
    position: absolute;
    left: 34%;
    top: -72px;

    & > img {
      width: 100%;
    }
  }
}

.footer {
  position: absolute;
  left: 46%;
  top: 83vh;
}