@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');

.mainWrapper {
  background-image: url("Images/MainWrapper.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.footer {
  position: absolute;
  top: 95vh;
  left: 50%;
  transform:translate(-50%, -50%); 
    
  & svg {
    & a {
      cursor: pointer;
    }
  }
}

@media (min-width: $tablet) {

  .mainWrapper {

  }
  
  .picturesWrapper{
  
    & .dogPicture {
      // display: flex;
      // position: absolute;
      // top: 10px;
      // left: 45px;
  
      & img {

      }
    }
  
    & .batPricture {
      // display: flex;
      // position: absolute;
      // top: 10px;
      // right: 50px;
  
      & img {

      }
    }
    & .picturesTitle {
      // position: absolute;
      // top: 37vh;
      // left: 50%;
      // transform:translate(-50%, -50%);   
      // color: #FFF;
      // text-shadow: 0px 0px 129.528px #419BC8, 0px 0px 259.056px #419BC8, 0px 0px 906.696px #419BC8, 0px 0px 1813.392px #419BC8, 0px 0px 3108.672px #419BC8, 0px 0px 5440.176px #419BC8;
      // font-size: 400px;
      // font-weight: 500;
    }
  
    & .gunPicture {
      // position: absolute;
      // left: 34%;
      // top: -72px;
  
      & > img {
        // width: 100%;
      }
    }
  }
  
  .footer {

  }
}

@media (min-width: $tablet-max) {

  .mainWrapper {

  }
  
  .picturesWrapper{
  
    & .dogPicture {
      // display: flex;
      // position: absolute;
      // top: 10px;
      // left: 45px;
  
      & img {

      }
    }
  
    & .batPricture {
      // display: flex;
      // position: absolute;
      // top: 10px;
      // right: 50px;
  
      & img {

      }
    }
    & .picturesTitle {
      // position: absolute;
      // top: 37vh;
      // left: 50%;
      // transform:translate(-50%, -50%);   
      // color: #FFF;
      // text-shadow: 0px 0px 129.528px #419BC8, 0px 0px 259.056px #419BC8, 0px 0px 906.696px #419BC8, 0px 0px 1813.392px #419BC8, 0px 0px 3108.672px #419BC8, 0px 0px 5440.176px #419BC8;
      // font-size: 400px;
      // font-weight: 500;
    }
  
    & .gunPicture {
      // position: absolute;
      // left: 34%;
      // top: -72px;
  
      & > img {
        width: 170%;
      }
    }
  }
  
  .footer {

  }
}

@media (min-width: $desktop) {

  .mainWrapper {

  }
  
  .picturesWrapper{
  
    & .dogPicture {
      width: 100%;
      display: block;
      position: absolute;
      top: 20vh;
      left: 11%;
  
      & img {
        width: 48%;
      }
    }
  
    & .batPricture {
      width: 100%;
      display: block;
      position: absolute;
      top: 20vh;
      left: 54.5%;
  
      & img {
        width: 32%;
      }
    }
    & .picturesTitle {
      top: 50vh;
      font-size: 300px;
      // position: absolute;
      // top: 37vh;
      // left: 50%;
      // transform:translate(-50%, -50%);   
      // color: #FFF;
      // text-shadow: 0px 0px 129.528px #419BC8, 0px 0px 259.056px #419BC8, 0px 0px 906.696px #419BC8, 0px 0px 1813.392px #419BC8, 0px 0px 3108.672px #419BC8, 0px 0px 5440.176px #419BC8;
      // font-size: 400px;
      // font-weight: 500;
    }
  
    & .gunPicture {
      width: 100%;
      position: absolute;
      left: 36%;
      top: 13vh;
  
      & > img {
        width: 33%;
      }
    }
  }
  
  .footer {

  }
}

@media (min-width: $desktop-big) {

  .mainWrapper {

  }
  
  .picturesWrapper{
  
    & .dogPicture {
      display: flex;
      // position: absolute;
      top: 12vh;
      left: 8%;
  
      & img {
        width: 53%;
      }
    }
  
    & .batPricture {
      display: flex;
      // position: absolute;
      top: 12vh;
      left: 54%;
  
      & img {
        width: 35.5%;
      }
    }
    & .picturesTitle {
      // position: absolute;
      // top: 37vh;
      // left: 50%;
      // transform:translate(-50%, -50%);   
      // color: #FFF;
      // text-shadow: 0px 0px 129.528px #419BC8, 0px 0px 259.056px #419BC8, 0px 0px 906.696px #419BC8, 0px 0px 1813.392px #419BC8, 0px 0px 3108.672px #419BC8, 0px 0px 5440.176px #419BC8;
      font-size: 400px;
      // font-weight: 500;
    }
  
    & .gunPicture {
      // position: absolute;
      // left: 34%;
      // top: -72px;
      top: 6vh;
      left: 35%;
  
      & > img {
        // width: 100%;
        width: 36%;
      }
    }
  }
  
  .footer {

  }
}

@media (min-width: $desktop-max) {

  .mainWrapper {

  }
  
  .picturesWrapper{
  
    & .dogPicture {
      display: flex;
      // position: absolute;
      // top: 10px;
      // left: 45px;
  
      & img {

      }
    }
  
    & .batPricture {
      display: flex;
      // position: absolute;
      // top: 10px;
      // right: 50px;
  
      & img {

      }
    }
    & .picturesTitle {
      // position: absolute;
      // top: 37vh;
      // left: 50%;
      // transform:translate(-50%, -50%);   
      // color: #FFF;
      // text-shadow: 0px 0px 129.528px #419BC8, 0px 0px 259.056px #419BC8, 0px 0px 906.696px #419BC8, 0px 0px 1813.392px #419BC8, 0px 0px 3108.672px #419BC8, 0px 0px 5440.176px #419BC8;
      // font-size: 400px;
      // font-weight: 500;
    }
  
    & .gunPicture {
      // position: absolute;
      // left: 34%;
      // top: -72px;
  
      & > img {
        // width: 100%;
      }
    }
  }
  
  .footer {

  }
}