@import '../../styles/variables.scss';
@import '../../styles/functions.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Oswald:wght@500;600;700&display=swap');

.mainWrapper {
  background-image: url("Images/MainWrapper.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stepsWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 pxToRem(15px);
}

.startGameBlock {
  margin: pxToRem(120px) pxToRem(15px) pxToRem(40px);

  & > h1 {
    color: #FFF;
    text-align: center;
    font-size: pxToRem(40px);
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
  }

  & > div {
    display: none;
    
    & > p {
      color: #FFF;
      font-size: pxToRem(20px);
      line-height: pxToRem(20px);
      font-family: 'Nunito', sans-serif;
      font-weight: 400;
    }
  }
}

.footer {
  margin: pxToRem(20px) pxToRem(15px);
  color: rgba(255, 255, 255, 0.50);

  & .footerText {
    font-size: pxToRem(13px);
    line-height: pxToRem(20px);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin-bottom: pxToRem(10px);
  }

  & a {
    
    & .emailText {
      font-size: pxToRem(16px);
      color: rgba(255, 255, 255, 0.50);
      font-family: 'Oswald', sans-serif;
      font-weight: 300;

      &:hover {
        color: #419BC8;
      }
    }
  }
}

@media (min-width: $tablet) { 
  
  .stepsWrapper {
    margin: 0 pxToRem(60px);
  }
  
  .startGameBlock {
    margin: pxToRem(120px) 0 pxToRem(40px);
  
    & > h1 {
      margin-bottom: pxToRem(25px);
    }
  
    & > div {
      display: flex;
      justify-content: center;

      & > p {
        width: 82%;
        text-align: center;
        line-height: pxToRem(22px);
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    margin: pxToRem(35px) pxToRem(60px);
  
    & .footerText  {
      width: 50%;
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop) { 
  
  .stepsWrapper {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 pxToRem(100px);
  }
  
  .startGameBlock {
    margin: pxToRem(120px) 0 pxToRem(60px);
  
    & > div {
    
      & > p {
        width: 70%;
        line-height: pxToRem(24px);
      }
    }
  }

  .footer {
    margin: pxToRem(35px) pxToRem(100px);

    & .footerText  {
      width: 30%;
    }
  }
}

@media (min-width: $desktop-1600) { 
  
  .stepsWrapper {
    margin: 0 pxToRem(200px);
  }
  
  .startGameBlock {
  
    & > div {
    
      & > p {
        width: 55%;
        line-height: pxToRem(25px);
      }
    }
  }

  .footer {
    margin: pxToRem(35px) pxToRem(40px);
  }
}

@media (min-width: $desktop-1920) { 
  
  .stepsWrapper {
    margin: 0 pxToRem(250px);
  }
  
  .startGameBlock {
  
    & > div {
    
      & > p {
        width: 45%;
        line-height: pxToRem(27px);
      }
    }
  }
  
  .footer {

    & .footerText  {
      font-size: pxToRem(16px);
    }
  
    & a {
    
      & .emailText {
        font-size: pxToRem(19px);
      }
    }
  }
}

@media (min-width: $desktop-2560) { 
  
  .stepsWrapper {
    margin: 0 pxToRem(400px);
  }
  
  .startGameBlock {
    margin: pxToRem(200px) 0 pxToRem(40px);
  
    & > h1 {
      font-size: pxToRem(60px);
      margin-bottom: pxToRem(50px);
    }
  
    & > div {
    
      & > p {
        font-size: pxToRem(25px);
        line-height: pxToRem(29px);
      }
    }
  }
  
  .footer {
    margin: pxToRem(45px) pxToRem(80px);

    & .footerText  {
      font-size: pxToRem(19px);
      line-height: pxToRem(24px);
    }
  
    & a {
    
      & .emailText {
        font-size: pxToRem(22px);
      }
    }
  }
}

@media (min-width: $desktop-3200) { 
  
  .stepsWrapper {
    margin: 0 pxToRem(500px);
  }
  
  .startGameBlock {
    margin: pxToRem(240px) 0 pxToRem(40px);
  
    & > h1 {
      font-size: pxToRem(70px);
    }
  
    & > div {
    
      & > p {
        font-size: pxToRem(30px);
        line-height: pxToRem(31px);
      }
    }
  }
  
  .footer {
    margin: pxToRem(55px) pxToRem(100px);

    & .footerText  {
      font-size: pxToRem(22px);
      line-height: pxToRem(27px);
    }
  
    & a {
    
      & .emailText {
        font-size: pxToRem(25px);
      }
    }
  }
}

@media (min-width: $desktop-3840) { 
  
  .stepsWrapper {
    margin: 0 pxToRem(700px);
  }
  
  .startGameBlock {
    margin: pxToRem(290px) 0 pxToRem(40px);
  
    & > h1 {
      font-size: pxToRem(80px);
    }
  
    & > div {
    
      & > p {
        font-size: pxToRem(35px);
        line-height: pxToRem(33px);
      }
    }
  }
  
  .footer {
    margin: pxToRem(65px) pxToRem(120px);

    & .footerText  {
      font-size: pxToRem(25px);
      line-height: pxToRem(29px);
    }
  
    & a {
    
      & .emailText {
        font-size: pxToRem(28px);
      }
    }
  }
}