@import '../../styles/variables.scss';

.mainWrapper {
  background-image: url("Images/MainWrapper.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.videoWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  & .videoItem {
    width: 80vw;
    border-radius: 30px;
  }
}

@media (min-width: $tablet) {
  
  .videoWrapper {
  
    & .videoItem {
      height: 40vh;
      width: 80vw;
    }
  }

}

@media (min-width: $desktop) {
  .videoWrapper {
    top: 55%;
  
    & .videoItem {
      height: 60vh;
      width: 60vw;
    }
  }
}