@import 'variables.scss';

.swiper {
  width: 100%;
  height: 100vh;
  & > div:last-child {
    right: 10px;
    & > span {
      width: 10px;
      height: 10px;
    }
  }
}

.wrapper {
  position: relative;
}


@media (min-width: $tablet) {
  .swiper {
    & > div:last-child {
      right: 20px;
      & > span {
        width: 15px;
        height: 15px;
      }
    }
  }
 }

@media (min-width: $desktop) {
  .swiper {
    & > div:last-child {
      right: 50px;
      & > span {
        width: 20px;
        height: 20px;
      }
    }
  }
 }