// BREAKPOINTS
$mobile: 320px;
$tablet: 768px;
$tablet-max: 1024px;
$desktop: 1250px;
$desktop-big: 1600px;
$desktop-max: 1920px;
$desktop-1600: 1600px;
$desktop-1920: 1920px;
$desktop-2560: 2560px;
$desktop-3200: 3200px;
$desktop-3840: 3840px;