@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');

.wrapper {
  display: flex;
  position: absolute !important;
  top: 0;
  background-size: cover;
  overflow: hidden;
  z-index: 10;
  width: 100%;
  background-color: #04080F;
  padding: 20px;
  height: 61px;
}

.wrapperThirdSlide {
  @extend .wrapper;
}

.logoMenuWrapper {
  display: flex;
  align-items: center;

  & .menu {
    margin-right: 20px;
  }

  & .none {
    display: none;
    margin-left: 20px;
  }

  & .logoMenuLink {

    & :hover {
      color: #419BC8;
    }

    & > p {
      color: #FFF;
      font-family: 'Oswald', sans-serif;
      font-size: 27px;
      font-weight: 500;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;

  & .navigationList {
    display: none;
  }

  & .navigationListMobile {
    display: flex;
    list-style: none;

    & .navigationItem {
      display: flex;

      & .navigationItemLink {
        display: flex;
  
        & .navigationItemLinkText {
          color: rgba(255, 255, 255, 0.70);
          font-size: 20px;
          font-weight: 500;
          font-family: 'Oswald', sans-serif;
          padding: 10px;
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  
  .wrapper {
    // background-color: transparent;  
    height: auto;
    justify-content: space-between;
    padding: 15px 100px 15px 100px;
    // padding: 20px;
  }

  .wrapperThirdSlide {
    background-color: #04080F;
    padding: 20px;
  }

  .logoMenuWrapper {
  
    & .menu {
      display: none;
    }

    & .logoMenuLink {
      margin-left: 0;

      & > p {
        font-size: 30px;
      }
    }
  }

  .navigation {
    
    & .navigationList {
      display: flex;
      list-style-type: none;
      
      & > li:first-child {
        margin-right: 10px;
      }
  
      & .navigationItem {
  
        & .navigationItemLink {
          display: flex;
          align-items: center;
          padding: 10px;
  
          & > div {
            display: flex;
            margin-right: 5px;
          }
    
          & .navigationItemLinkText {
            color: rgba(255, 255, 255, 0.70);
            font-size: 20px;
            font-weight: 500;
            font-family: 'Oswald', sans-serif;
          }
        }

        & .navigationItemLink:hover {
          & > div {
            & svg {
              & path {
                fill: #419BC8;
                fill-opacity: 1;
              }
            }
          }

          & .navigationItemLinkText {
            color: #419BC8;
          }
        }
      }
    }
  }  
}

@media (min-width: $desktop-big) {
  .wrapper {
    padding: 40px 100px 0 100px;
    background-color: transparent; 
  }

  .wrapperThirdSlide {
    background-color: transparent;
  }

  .logoMenuWrapper {
  
    & .logoMenuLink {

      & > p {
        font-size: 35px;
      }
    }
  }
}