@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');

.wrapper {
  border-radius: 7px;
  background: #0B1D2D;
  margin: 10px 0 10px;
  color: #FFF;
  cursor: pointer;
}

@media (min-width: $tablet) { 
  .wrapper {

  }

}

@media (min-width: $tablet-max) { 
  .wrapper {

  }

}

@media (min-width: $desktop) { 
  .wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-big) { 
  .wrapper {

  }

}

@media (min-width: $desktop-max) { 
  .wrapper {

  }

}