@import '../../../../styles/variables.scss';
@import '../../../../styles/functions.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');

.wrapper {
  border-radius: pxToRem(7px);
  background: #0B1D2D;
  margin: pxToRem(10px) 0 pxToRem(10px);
  color: #FFF;
  cursor: pointer;
}

.wrapper:hover {
  box-shadow: pxToRem(1px) pxToRem(1px) pxToRem(10px) pxToRem(5px) #419BC8;
}

@media (min-width: $tablet) { 

  .wrapper {
    margin: pxToRem(20px) 0 pxToRem(20px);
  }
}

@media (min-width: $desktop) { 
  
  .wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
}